body {
  height: 100vh;
  background-image: url(../images/cristina-gottardi-wVTGdIGdojc-unsplash.jpg);
  background-size: cover;
}
div {
  background-image: url(../images/logo.png);
  height: 20px;
}
