header {
  padding: 15px;
  border-bottom: #352a6e 0px solid;
  display: flex;
  float: right;
  padding-top: 0px;
  top: 8px;
  left: 50px;
  font-size: inherit;
}

header li {
  margin: 10px;
  padding: 15;
  overflow: hidden;
  float: left;
  max-width: 100%;
}
header ul {
  display: relative;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 14px;
  padding: 16px;
  text-align: center;
  list-style-type: none;
  word-spacing: 100%;
}

/*global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
/* Resize images */
.container img {
  width: 60%;
  height: auto;
  opacity: 0, 5;
  display: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: center;
  padding-top: 30px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-position-x: center;
  background-repeat: repeat;
  background-size: cover;
  padding-bottom: 58px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 1%;
  background-color: #98a04f;
}

i {
  color: #352a6e;
  float: right;
  position: relative;
  margin-left: 5;
  padding: 6px;
  display: grid;
  padding-top: 0%;
  padding-right: 0px;
  height: 50px;
  width: auto;
}

main {
  position: absolute;
  padding-top: 200px;
  padding-left: 100px;
}

.footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: center;
  padding-top: 30px;
}

/*global*/
.container {
  width: 50%;
  margin: auto;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* Resize images */
.container img {
  width: 20%;
  display: center;
  padding-top: 0px;
  border-top: 0px;
  padding-bottom: 0px;
}
#boxes {
  margin-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
#boxes .box {
  text-align: center;
  width: 30%;
  padding: 10px;
  float: left;
  display: flex;
}

.cta {
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 500px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: flex;
}
